<div id="lcc-cookie-banner" class="lcc-cookie-banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="lcc-cookie-content">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="lcc-cookie-text">
                                <p><strong>Diese Website verwendet Cookies.</strong></p>
                                <p>
                                    Technisch notwendige Cookies werden automatisch gesetzt. 
                                </p>
                                <p>
                                    Mit Analyse-Cookies messen wir anonym die Website-Nutzung, um diese zu verbessern. 
                                    Werbe-Cookies ermöglichen es uns, unsere eigenen Werbekampaganen zu analysieren. 
                                    Sie können diese Cookies ablehnen. Des Weiteren können Sie diese Einstellungen jederzeit mit dem Button 
                                    "Cookie-Einstellungen" im Footer ändern.
                                </p>
                        </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="lcc-cookie-buttons">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <button id="lcc-accept-all" class="lcc-cookie-btn lcc-btn-accept w-100">Alle akzeptieren</button>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <button id="lcc-decline-all" class="lcc-cookie-btn lcc-btn-decline w-100">Alle ablehnen</button>
                                    </div>
                                    <div class="col-12">
                                        <button id="lcc-show-settings" class="lcc-cookie-btn lcc-btn-settings w-100">Einstellungen</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
